.container__partners{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.partners__info{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.partners__item{
    margin-right: 45px;
}

.partners__item:last-child{
    margin-right: 0px;
}